body, html, #game-container
  position: relative
  overflow-x: scroll
  padding: 0
  margin: 0
  background-color: black
  color: white
  // height: 100%
  width: 100%

.rpgui-content .rpgui-container
  position: relative
  display: inline-block

#welcome
  margin: 50px

body
  border: 1px solid white
  padding: 5px

#grid
  display: inline-block
  box-shadow: 0 0 5px 1px grey
  background: none

.row
  display: block
  line-height: 0

.col
  display: inline-block
  width: 10px
  height: 10px
  margin: 0.25px
  .decoration-box
    box-shadow: none
    transition: box-shadow 0.5s linear

.col:hover
  .decoration-box
    box-shadow: 0 0 5px 5px red
    transition: box-shadow 0s linear
    width: 10px
    height: 10px

.col .content
  font-size: 10px
  display: inline-block
  transition: color 0.5s linear
  position: relative
  top: 4px
  z-index: 1

#char-select, #level-select
  padding: 25px

.char-opt, .level-opt
  border: 1px solid white
  text-align: center
  display: inline-block
  padding: 10px
  float: left
  margin: 5px
  border-radius: 10px
  width: 150px
  height: 60px
  transition: background-color 0.5s linear

.char-opt:hover, .level-opt:hover
  background-color: darken(darkred, 10%)
  transition: none
  // box-shadow: none
  transition: background-color 0.5s linear
  // box-shadow: 0 0 5px 0.25 green

.char-name, .level-name
  margin-bottom: 5px
  text-shadow: -1px -1px 0 darkred, 1px -1px 0 darkred, 1px 1px 0 darkred, 1px 1px 0 darkred

.char-attrs, .level-attrs
  text-align: center
  display: inline-block

